PORT=3000
HOST=0.0.0.0
NODE_ENV=production
APP_KEY=xb5XY0p9K6q0fZpf8ysVU8xIoj83IV--

# Chave de Assinatura (HMAC-SHA256) Fornecida no Painel Desko
# https://developers.desko.com.br/webhook-iniciando
SIGNATURE=

# Dados de Acesso Client Api do Desko
# https://developers.desko.com.br/referencia-api/autenticacao
DESKO_API_URL="https://api.desko.com.br/v1.1"
DESKO_API_CLIENT_ID=""
DESKO_API_CLIENT_SECRET=""
DESKO_API_SCOPE="booking.show building.show"

DRIVE_DISK=local

# Banco de dados interno (Default MySql)
# https://docs.adonisjs.com/guides/database/introduction
DB_CONNECTION=mysql
DB_MYSQL_HOST=
DB_MYSQL_PORT=3306
DB_MYSQL_USER=
DB_MYSQL_PASSWORD=
DB_MYSQL_NAME=desko_bifrost

# Banco de dados ControlID
CONTROLID_MYSQL_HOST=
CONTROLID_MYSQL_PORT=3306
CONTROLID_MYSQL_USER=
CONTROLID_MYSQL_PASSWORD=
CONTROLID_MYSQL_DB_NAME=controlid

CONTROLID_API="https://localhost:30443/api"
CONTROLID_API_USER=""
CONTROLID_API_PASSWORD=""

CONTROLID_FUNCTION_ACCESS_CONTROL=false
CONTROLID_FUNCTION_QRCODE=false

CONTROLID_SCHEDULE_POOLING_MINUTES=5